html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Creepster', cursive;
  font-size: 14px;
  overflow: hidden;
  background: #000;
  color: #fff;
}
body.dragging {
  cursor: ns-resize;
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}